In [1]:
!python ./download_data.py

Data has apparently already been downloaded and unpacked.

In [2]:
%matplotlib inline
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
from problem import get_data
X_train, X_test, y_train, y_test = get_data()

In [4]:
X_train

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome
30141,30,admin.,single,secondary,no,313,yes,no,cellular,4,feb,1121,2,-1,0,unknown
32259,38,services,divorced,secondary,no,904,yes,no,cellular,16,apr,361,1,339,1,failure
40844,57,management,married,secondary,no,2155,no,yes,cellular,11,aug,82,2,-1,0,unknown
18078,60,housemaid,married,primary,no,726,no,yes,cellular,30,jul,94,5,-1,0,unknown
39257,32,blue-collar,married,unknown,no,1267,yes,no,cellular,18,may,66,2,-1,0,unknown
27997,53,management,married,tertiary,no,0,no,no,cellular,28,jan,1745,2,-1,0,unknown
13732,35,blue-collar,married,unknown,no,1084,yes,no,cellular,10,jul,1019,1,-1,0,unknown
27170,43,blue-collar,married,secondary,no,545,yes,no,cellular,21,nov,144,1,-1,0,unknown
21525,60,technician,married,secondary,no,0,no,no,cellular,19,aug,83,2,-1,0,unknown
39208,30,retired,single,secondary,no,48,no,no,cellular,18,may,142,2,300,1,other
33962,38,unemployed,married,tertiary,no,2812,yes,no,cellular,30,apr,830,1,-1,0,unknown
796,34,services,married,secondary,no,205,yes,no,unknown,7,may,312,1,-1,0,unknown
33407,46,self-employed,married,secondary,no,156,no,no,cellular,20,apr,268,1,-1,0,unknown
7125,43,technician,married,secondary,no,2041,yes,yes,unknown,29,may,162,5,-1,0,unknown
42533,59,retired,married,primary,no,2074,no,no,cellular,21,dec,467,1,186,2,success
16064,58,management,married,tertiary,no,2183,yes,no,cellular,22,jul,209,1,-1,0,unknown
17268,34,management,single,secondary,no,516,yes,no,cellular,28,jul,292,2,-1,0,unknown
24385,58,management,divorced,tertiary,no,1573,yes,yes,cellular,17,nov,279,1,-1,0,unknown
13210,36,unemployed,divorced,secondary,no,5,yes,no,cellular,8,jul,305,1,-1,0,unknown
30354,47,blue-collar,divorced,primary,no,1927,yes,no,cellular,5,feb,130,4,275,3,failure
32494,42,blue-collar,divorced,secondary,no,1118,yes,no,cellular,17,apr,620,1,-1,0,unknown
29683,57,technician,married,secondary,no,192,no,no,cellular,3,feb,119,4,-1,0,unknown
16652,51,self-employed,married,secondary,no,921,no,no,cellular,24,jul,188,1,-1,0,unknown
5540,33,management,married,secondary,no,67,yes,yes,unknown,23,may,316,4,-1,0,unknown
26674,46,admin.,divorced,secondary,no,2087,no,no,cellular,20,nov,768,3,-1,0,unknown
26149,38,entrepreneur,married,tertiary,no,898,yes,no,cellular,20,nov,80,5,198,2,failure
25179,41,management,married,tertiary,no,25,no,no,cellular,18,nov,431,2,-1,0,unknown
34775,33,management,single,tertiary,no,4835,no,no,cellular,6,may,362,2,-1,0,unknown
16344,26,admin.,single,secondary,no,8,no,no,cellular,23,jul,95,1,-1,0,unknown
15152,43,blue-collar,married,primary,no,255,yes,no,cellular,17,jul,180,1,-1,0,unknown
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8156,34,admin.,married,secondary,no,287,yes,no,unknown,2,jun,149,8,-1,0,unknown
32805,40,admin.,married,secondary,no,824,yes,no,cellular,17,apr,359,1,-1,0,unknown
23511,37,management,married,tertiary,no,839,no,yes,cellular,28,aug,87,11,-1,0,unknown
36170,40,blue-collar,married,primary,no,98,yes,no,cellular,11,may,240,2,343,5,failure
19835,35,management,single,tertiary,no,181,yes,no,cellular,8,aug,130,4,-1,0,unknown
5883,52,entrepreneur,divorced,secondary,no,-99,no,yes,unknown,26,may,91,3,-1,0,unknown
6640,30,technician,single,tertiary,no,-241,yes,no,unknown,28,may,147,1,-1,0,unknown
32906,31,technician,single,secondary,no,102,yes,no,telephone,17,apr,460,2,345,2,failure
39617,30,self-employed,single,tertiary,no,166,no,no,cellular,26,may,136,1,-1,0,unknown
8684,56,admin.,divorced,primary,no,207,yes,no,unknown,3,jun,88,4,-1,0,unknown
36360,50,blue-collar,married,secondary,no,1400,yes,no,cellular,11,may,189,1,-1,0,unknown
1833,27,blue-collar,married,tertiary,no,350,no,no,unknown,9,may,24,1,-1,0,unknown
14114,34,blue-collar,married,secondary,yes,-745,yes,yes,cellular,11,jul,131,2,-1,0,unknown
17144,33,blue-collar,married,secondary,no,-77,yes,no,cellular,28,jul,151,3,-1,0,unknown
30421,32,services,married,secondary,no,182,no,no,cellular,5,feb,277,1,169,2,failure
15671,44,blue-collar,married,primary,no,2470,no,no,telephone,21,jul,19,1,-1,0,unknown
13309,26,blue-collar,single,secondary,no,-128,no,yes,cellular,8,jul,392,2,-1,0,unknown
13989,44,blue-collar,married,primary,no,6,no,no,cellular,10,jul,338,9,-1,0,unknown
1307,49,housemaid,married,secondary,no,7317,yes,no,unknown,8,may,140,1,-1,0,unknown
38126,42,blue-collar,married,secondary,no,680,yes,no,cellular,15,may,306,4,365,2,failure
22959,56,housemaid,married,primary,no,0,no,no,cellular,26,aug,102,2,-1,0,unknown
25824,44,management,divorced,secondary,no,0,yes,no,telephone,19,nov,319,1,-1,0,unknown
10721,37,management,married,tertiary,no,0,no,no,unknown,16,jun,637,6,-1,0,unknown
4407,39,blue-collar,married,secondary,no,298,yes,no,unknown,20,may,216,1,-1,0,unknown
20414,31,technician,single,secondary,no,826,yes,no,cellular,12,aug,246,2,-1,0,unknown
26122,44,management,married,tertiary,no,-367,yes,yes,cellular,19,nov,206,5,-1,0,unknown
39622,34,technician,married,tertiary,no,0,no,no,cellular,26,may,58,1,-1,0,unknown
40281,31,technician,single,tertiary,no,969,no,no,cellular,15,jun,95,1,-1,0,unknown
3918,42,blue-collar,married,secondary,no,314,yes,yes,unknown,16,may,269,2,-1,0,unknown
22828,56,management,married,tertiary,no,154,no,no,cellular,25,aug,454,6,-1,0,unknown