# Datacamp Team Project: Bank Markting
A

In [1]:
!python ./download_data.py

Data has apparently already been downloaded and unpacked.

In [2]:
%matplotlib inline
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
from problem import get_data
X_train, X_test, y_train, y_test = get_data()

/home/tp-home008/shamide/datacamp/lib/python3.5/site-packages/pandas/core/frame.py:3930: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)

In [4]:
X_train.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome
0,40,blue-collar,married,secondary,no,1074,yes,no,cellular,9,apr,90,2,-1,0,unknown
1,34,blue-collar,married,secondary,no,175,yes,no,cellular,14,may,50,2,364,2,failure
2,41,entrepreneur,married,primary,no,740,yes,no,unknown,30,may,134,3,-1,0,unknown
3,48,blue-collar,divorced,primary,no,0,no,no,unknown,6,jun,248,2,-1,0,unknown
4,30,technician,single,secondary,no,853,no,no,cellular,29,oct,279,1,148,1,failure