In [2]:
!python ./download_data.py

Downloading from https://archive.ics.uci.edu/ml/machine-learning-databases/00222/bank.zip ...
=> File saved as data/bank.zip
Download finished. Extracting files.
Done.

In [2]:
%matplotlib inline
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
from problem import get_data
X_train, X_test, y_train, y_test = get_data()

In [1]:
X_train.reset_index(inplace=True)

NameError: name 'X_train' is not defined

In [5]:
X_train.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome
30141,30,admin.,single,secondary,no,313,yes,no,cellular,4,feb,1121,2,-1,0,unknown
32259,38,services,divorced,secondary,no,904,yes,no,cellular,16,apr,361,1,339,1,failure
40844,57,management,married,secondary,no,2155,no,yes,cellular,11,aug,82,2,-1,0,unknown
18078,60,housemaid,married,primary,no,726,no,yes,cellular,30,jul,94,5,-1,0,unknown
39257,32,blue-collar,married,unknown,no,1267,yes,no,cellular,18,may,66,2,-1,0,unknown